.msg-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;

  @include respond-max($small-550px) {
    // z-index: -1;
  }

  .message-cta {
    font-size: 2rem;
    text-transform: capitalize;
    align-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    text-align: center;
    color: $grey-color;
    line-height: 5rem;
  }
}
