.user {
  display: flex;
  border-bottom: 1px solid $grey-color-lightest;
  padding: 2rem;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  flex: 1;
  // z-index: 5;

  @include respond-max($large-750px) {
    padding: 1rem;
  }

  &__info {
    margin-right: auto;
  }

  &__name {
    font-size: 1.6rem;
  }
  .active-status {
    font-size: 1.2rem;
    color: $grey-color;
    display: inline-block;
  }
  .left-chevron {
    width: 1.8rem;
    height: 1.8rem;
    display: none;

    @include respond-max($medium-large-686px) {
      display: inline-block;
    }
  }
}
