.chats {
  position: relative;
  height: 100%;

  @include respond-max($small-550px) {
    width: 100%;
    height: 100%;
  }

  .cta-label {
    @include btn($secondary-color);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
  }

  span {
    display: inline-block;
  }

  &__list {
    & > *:not(:last-child) {
      border-bottom: 1px solid $grey-color-lightest;
    }
  }
  &__item {
    display: flex;
    padding: 2rem;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;

    // @include respond-max($large-750px) {
    //   padding: 1rem;
    // }

    &:hover {
      background-color: $dim-white;
    }

    &-selected {
      background-color: $dim-white;
    }

    &-unread {
      .chats__message {
        color: $primary-color;
        font-weight: 700;
      }
      // .chats__date {
      //   background-color: $primary-color;
      // }
    }

    .unread__messages {
      height: 15px;
      width: 15px;
      background-color: $primary-color-2;
      border-radius: 50%;
      margin-right: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @include respond-max($larger-850px) {
        height: 7px;
        width: 7px;

        margin-right: 1.4rem;
      }
    }
  }
  &__img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
  &__user {
    width: 55%;
    margin-right: auto;
  }
  &__name {
    font-size: 1.6rem;
    text-transform: capitalize;

    @include respond-max($large-750px) {
      font-size: 1.4rem;
    }
  }
  // &__date {
  //   background-color: $grey-color;
  //   padding: 4px;
  //   border-radius: 5px;
  //   font-size: 1rem;
  //   text-transform: uppercase;
  //   color: $tertiary-color;
  // }
  &__date {
    color: $grey-color;
  }
  &__date,
  &__message {
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__message {
    color: $grey-color;
    width: 90%;
  }
  &__figure {
    position: relative;

    .online-alert {
      width: 1.2rem;
      height: 1.2rem;
      background-color: #14d814;
      // border: 0.5px solid #fff;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      right: 8px;
    }
  }
}
